@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.App {
  text-align: center;
}

.test{
  margin-left: 10%;
}

.abi{
  margin-left: 12%;
}

.nav-link{
  margin: 0 20px;
}
.contactUsButton{
  background: linear-gradient(to right, #48B43D 0%, #3E964E 100%) !important;
}

.mainCarousel{
  margin-top:5%;
  background-image: url("./images/home_dental.jpg");
}
.carouselText{
 padding-top: 5%;
 padding-left: 10%;
 text-align: start;

}
.carouselHero{
  font-family: "Nunito Sans";
  font-size: 60px;
  line-height: 60px;
  color:#568701;
  font-weight: 900;
}

.greenButton{
  font-family: "Nunito Sans";
  background-color:#568701 !important;
}
.blackButton{
  font-family: "Nunito Sans";
  background-color: black !important;
}
.carouselButtons{
  margin-top: 17%;
}
.callToAction{
  padding: 0 4%;
}
.sellingPointsCards{
  outline-style: ridge;
  outline-width: 0.25px;
  outline-color:  #48B43D;
  width: 30%;
}
.sellingPointsText{
  font-family: "Roboto";
  text-align: start;
  margin-left: 5%;
  font-weight: 800 !important;
}
.sellingPoints{
  margin: 0 5%;
}